body{
   padding-top: 80px;
  font-family: monaco, monospace;
  background-color: black;
  background-size: cover;
}
p{color:white;
}
h1, h2 {text-align: center;
  display: inline-block;
  background-color: black;
  color:lime;
}
h1 {
  font-size: 30px
}
h2 {
  font-size: 20px;
}
h3{color:white;}
span {
  background: #fd0;
}
li{color:yellow;
font-size: 20}
